$font-family: config-get($font, family);
$font-size: config-get($font, size);
$line-height: config-get($font, line-height);
$font-color: config-get($font, color);

@if config-get($font, antialiasing) {
    html {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

body {
    @include rem-calc(font-size, $font-size);

    font-family: unquote($font-family);
    line-height: $line-height;
    color: $font-color;
}
