html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: $font-size-sans-serif;
    font-family: $font-family-sans-serif;
    line-height: $line-height-sans-serif;
    color: color-get('black');
}
