/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@if map-get($font, antialiasing) {
    html {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

body {
    font-size: map-get($font, size);
    font-family: unquote(map-get($font, family));
    line-height: map-get($font, line-height);
    color: map-get($font, color);
}
