$button-padding: config-get($buttons, padding);
$button-font-color: config-get($buttons, font-color);
$button-font-size: config-get($buttons, font-size);
$button-font-weight: config-get($buttons, font-weight);
$button-line-height: config-get($buttons, line-height);
$button-background: config-get($buttons, background-color);

[type=reset],
[type=submit],
button,
html [type=button] {
    border: 0;
    -webkit-appearance: button;
}

a,
button {
    color: $button-font-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    @include rem-calc(padding, $button-padding);
    @include rem-calc(font-size, $button-font-size);

    display: inline-block;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-color: $button-background;
}
