/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

[type=reset],
[type=submit],
button,
html [type=button] {
    border: 0;
    -webkit-appearance: button;
}

a,
button {
    color: config-get($buttons, font-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    @include rem-calc(padding, config-get($buttons, padding));
    @include rem-calc(font-size, config-get($buttons, font-size));

    display: inline-block;
    font-weight: config-get($buttons, font-weight);
    line-height: config-get($buttons, line-height);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-color: config-get($buttons, background-color);
}
