/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

[type=reset],
[type=submit],
button,
html [type=button] {
    border: 0;
    -webkit-appearance: button;
}

.button {
    display: inline-block;
    padding: map-get($buttons, padding);
    font-size: map-get($buttons, font-size);
    font-weight: map-get($buttons, font-weight);
    line-height: map-get($buttons, line-height);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: map-get($buttons, font-color);
    background-color: map-get($buttons, background-color);
}
