/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@if map-get($grid, generate) {

    // The main website wrapper.
    .container {
        position: relative;
        margin: 0 auto;

        @if map-get($grid, container-limit) != false {
            max-width: map-get($grid, container-limit);
        }
    }

    .row {
        @include container;
    }

    // Automatic handling of nested rows.
    @if map-get($grid, automatic-nesting) {
        .row .row {
            margin-left: - map-get(get-gutters(), before);
            margin-right: - map-get(get-gutters(), after);
        }
    }

    @for $i from 1 through susy-get('columns') {
        .small-#{$i} {
            @include span($i);
        }
    }

    @include susy-media(40em) {
        @for $i from 1 through susy-get('columns') {
            .medium-#{$i} {
                @include span($i);
            }
        }
    }

    @include susy-media(64em) {
        @for $i from 1 through susy-get('columns') {
            .large-#{$i} {
                @include span($i);
            }
        }
    }
}
