/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@if config-get($grid, generate) {

    // The main website wrapper.
    .container {
        position: relative;
        padding: rem-calc(config-get(get-gutters(), before) * 2) 0;
        margin: 0 auto;

        @if config-get($grid, container-limit) != false {
            max-width: config-get($grid, container-limit);
        }
    }

    .row {
        @include container;
    }

    // Automatic handling of nested rows.
    @if config-get($grid, automatic-nesting) {
        .row .row {
            margin-left: - config-get(get-gutters(), before);
            margin-right: - config-get(get-gutters(), after);
        }
    }

    @each $breakpoint, $value in $breakpoints {
        @include susy-media($value) {
            @for $i from 1 through susy-get('columns') {
                @include make-column($breakpoint, $i);
            }
        }
    }
}
