/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@if $lazyload-images {
    img {
        opacity: 1;
        transition: opacity 0.3s;
    }

    img[data-src] {
        opacity: 0;
    }
}
