/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$panel-margin: config-get(get-gutters(), before);
$panel-padding: config-get(get-gutters(), before);

.panel {
    @include rem-calc(margin-bottom, $panel-margin);
    @include rem-calc(padding, $panel-padding);

    border: 1px solid color-get(black);
}
