@if $grid-generate {

    // The main website wrapper.
    .container {
        @include rem-calc(padding-top, $global-margin * 2);
        @include rem-calc(padding-bottom, $global-margin * 2);

        position: relative;
        margin: 0 auto;

        @if $grid-container-limit != false {
            max-width: $grid-container-limit;
        }
    }

    .row {
        @include container;
    }

    // Automatic handling of nested rows.
    .row .row {
        @include rem-calc(margin-left, - $global-margin);
        @include rem-calc(margin-right, - $global-margin);
    }

    @each $breakpoint, $value in $breakpoints {
        @include susy-media($value) {
            @for $i from 1 through susy-get('columns') {
                @include make-column($breakpoint, $i);
            }
        }
    }
}
