@if $grid-generate {

    // The main website wrapper.
    .container {
        position: relative;
        margin: 0 auto;
        padding-top: rem-calc($global-margin * 2);
        padding-bottom: rem-calc($global-margin * 2);

        @if $grid-container-limit != false {
            max-width: rem-calc($grid-container-limit);
        }

        &.collapse-top { padding-top: 0; }
        &.collapse-bottom { padding-bottom: 0; }
    }

    .row {
        @include container;
    }

    // Same as the .row class but without a forced max width.
    .row-fluid {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    // Automatic handling of nested rows.
    .row .row {
        margin-left: - rem-calc($global-margin);
        margin-right: - rem-calc($global-margin);
    }

    @each $breakpoint, $value in $breakpoints {
        @include susy-media(nth($value, 1)) {
            @for $i from 1 through susy-get('columns') {
                @include make-column($breakpoint, $i);
            }
        }
    }

    /**
     * Floating classes.
     */
    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    @each $breakpoint, $value in $breakpoints {
        @include susy-media($value) {
            .#{$breakpoint}-float-left {
                float: left;
            }

            .#{$breakpoint}-float-right {
                float: right;
            }
        }
    }
}
