.tabs {
    @extend .list;
    @extend .list__inline;
    font-size: 0;

    @include modifier(flex) {
        @extend .list__inline--flex;
    }

    @include element(item) {
        font-size: $font-size;

        a {
            position: relative;
            display: block;
            margin-right: -1px;
            padding: $tab-padding;
            color: $tab-font-color;
            background-color: $tab-background-color;
            border: 1px solid $tab-border-color;

            &:hover {
                color: $tab-hover-font-color;
                background-color: $tab-hover-background-color;
            }
        }

        &:last-child a {
            margin-right: auto;
        }

        @include modifier(is-active) {
            a {
                color: $tab-hover-font-color;
                background-color: $tab-hover-background-color;
            }
        }
    }
}

.tabs-content {
    margin-top: -1px;

    @include element(panel) {
        @extend .panel;

        &:not(.tabs-content__panel--active) {
            display: none;
        }
    }
}