@mixin make-column($type, $size) {
    .#{$type}-#{$size} {
        @include span($size);
    }

    .#{$type}-pull-#{$size} {
        @include pull($size);
    }

    .#{$type}-push-#{$size} {
        @include push($size);
    }

    .#{$type}-pull-0,
    .#{$type}-push-0 {
        margin-left: 0;
    }
}

@mixin breakpoint($name) {
    @include susy-media(map-get($breakpoints, $name)) {
        @content;
    }
}