/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '../components/foundation-sites/scss/util/util';

// Default color settings
$colors: () !default;

// Should images be lazily loaded?
$lazyload-images: true !default;

// Does the main container have a limit?
$main-container-limit: rem-calc(1500) !default;

// The global transition time limit.
$transition-time: 0.15s;
