/**
 * This file is part of the Centagon Primer package.
 *
 * (c) Centagon <contact@centagon.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/// Susy settings
/// @type Map
$susy: (
    columns: 12,
    gutter-position: inside-static,
    gutters: 30px / 70px,
    column-width: 70px
);

/// The base pixel size rem values will be calculated on.
/// @type Number
$pixel-base: 16px;

/// Grid settings
/// @type Map
$grid: (
    generate: true,
    automatic-nesting: true,
    container-limit: 1500px
) !default;

/// Default color settings
/// @type Map
$colors: (
    black: rgb(20, 20, 20),
    white: rgb(255, 255, 255),
    blue: rgb(64, 120, 192),

    // ...
) !default;

/// Default font settings
/// @type Map
$font: (
    antialiasing: true,
    family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif',
    size: 1rem,
    line-height: 1.5,
    color: map-get($colors, black)
) !default;

/// Default button settings
/// @type Map
$buttons: (
    font-size: map-get($font, size),
    font-weight: normal,
    font-color: map-get($colors, blue),
    line-height: map-get($font, line-height),
    background-color: map-get($colors, white),
    padding: 0.5rem 1rem
) !default;

/// Should images be lazily loaded?
/// @type Bool
$lazyload-images: true !default;

/// The global transition time limit.
/// @type Number
$transition-time: 0.15s;
